h1, 
button,
.hex {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  color: #ff008c;
  font-size: 2em;
  margin: 20px 0;
}

select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#000' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:#fff;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  padding: 15px 30px 15px 12px;
  width:auto;
  font-family:arial,tahoma;
  font-size:16px;
  font-weight:bold;
  color:#000;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
     -moz-transition:0.3s ease all;
      -ms-transition:0.3s ease all;
       -o-transition:0.3s ease all;
          transition:0.3s ease all;
}

.color-wrap {
  display: flex;
  justify-content: center;
}

.swatch-wrap {
  width: 17%;
  margin: 10px;
}

.color-div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  height: 45vh;
  width: 100%;
}

.hex {
  color: #424242;
  margin: 0;
}

.lock {
  height: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/unlocked.svg');
  width: 40px;
}

.swatch-bottom-wrap {
  border: 1px solid #d3d3d3;
  border-top: none;
  display: flex;
  justify-content: space-between;
  padding: 19px 19px 38px;
  text-align: center;
}

.generate-palette {
  border: none;
  margin: 13px 0 20px;
  background: #dcdcdc;
  font-size: 1.2em;
  height: 60px;
  width: 320px;
}

.button {
  margin: 1rem;
  z-index: 0;
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: .1rem;
  background-color: #b32586;
  color: #222;
  transition: color .2s ease-out;
}

.button:hover,
.button.focused {
  color: #b32586;
}

.button::after {
  z-index: -1;
  margin: .2rem;
  background-color: #fff;
}

.button::before {
  background-image: linear-gradient(
    to top right,
    #94c11f   0%,
    #6fb746  12.5%,
    #44b05e  25%,
    #249a91  37.5%,
    #1a7cb2  50%,
    #4a58a3  62.5%,
    #622e88  75%,
    #541b6a  87.5%,
    #3f0e4d  100%
  );
  z-index: -2;
  background-color: #222;
  transition: opacity .2s ease-out
}

.button::before,
.button::after {
  display: block;
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}