body {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

form {
  margin: 10px;
  align-items: center;
  display: flex;
}

input {
  height: 30px;
  width: 170px;
}

button {
  border: 1px solid #e56b94;
  font-size: 0.8em;
  height: 34px;
  letter-spacing: .1rem;
  outline: none;
  width: 130px;
}

button:hover,
select:hover {
  color: #e56b94;
  cursor: pointer;
}

h1 {
  margin: 20px 0;
  color: #e56b94;
  font-size: 2em;
}

h2 {
  color: #e56b94;
}

select {
  border: 0;
  border-radius: 3px;
  padding: 15px 30px 15px 12px;
  margin: 0 15px 0 0;
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#000' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  -webkit-border-radius: 3px;
  color: #e56b94;
  font-family: arial,tahoma;
  font-size: 16px;
  outline: 0;
  text-align: center;
  -webkit-transition: 0.3s ease all; 
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all; 
  width: auto;
}

.page-title {
  display: inline-block;
  font-size: 4.7em;
}

.chemistry-set {
  height: 60px;
  width: 60px;
}

.color-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.swatch-wrap {
  margin: 10px;
  width: 17%;
}

.color-div {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  position: relative;
  height: 45vh;
  width: 100%;
}

.hex {
  margin: 0;
  color: #424242;
  width: 67px;
}

.lock {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/unlocked.svg');
  height: 40px;
  min-width: 35px;
  width: 40px;
}

.image-locked {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/verylocked.svg');
  height: 40px;
  min-width: 35px;
  width: 40px;
}

.lock:hover {
  cursor: pointer;
}

.palette-wrap {
  align-items: center;
  display: flex;
}

.palette-name {
  width: 110px;
}

.form-wrap {
  display: flex;
  flex-direction: column;
}

.project-submit-wrap {
  flex-direction: column;
}

.trash {
  margin: 0 0 0 14px;
  height: 40px;
  width: 40px;
}

.trash:hover {
  cursor: pointer;
}

.projects-wrap-wrap {
  margin: 25px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: -webkit-gradient(linear, 1% 0, 99% 0, from(white), to(white), color-stop(50%, #e56b94));
  height: 1px;
  width: 100%;
}

.projects-wrap {
  padding: 0 0 30px 0;
}

.swatch-bottom-wrap {
  padding: 19px 19px 38px 54px;
  align-items: center;
  display: flex;
  text-align: center;
}

.generate-palette {
  border: 1px solid #e56b94;
  margin: 13px 0 20px;
  font-size: 1.2em;
  height: 60px;
  width: 443px;
}

.color-circle {
  border-radius: 100%;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.circle {
  border-radius: 100%;
  margin: 0 2em;
  display: inline-block;
  background: #fff;
  height: 9em;
  overflow: hidden;
  width: 9em;
} 

.circle .wave {
  -webkit-animation: fillup 4s linear;
  -moz-animation: fillup 4s linear;
  -o-animation: fillup 4s linear;
  animation: fillup 4s linear;
}
@-moz-keyframes fillup {
  0% {
    -moz-transform: translate(0, 8em);
  }
  100% {
    -moz-transform: translate(-82%, -1em);
  }
}
@-webkit-keyframes fillup {
  0% {
    -webkit-transform: translate(0, 8em);
  }
  100% {
    -webkit-transform: translate(-82%, -1em);
  }
}
@keyframes fillup {
  0% {
    transform: translate(0, 8em);
  }
  100% {
    transform: translate(-82%, -1em);
  }
}